<div class="card-list">
  <%# list name and link to show if the instance %>
  <%= link_to list.name, list_path(list) %>
  <%# destroy the list %>
  <%= link_to "delete", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove ?"}, class: 'text-danger' %>
</div>
